* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
}

.cabeçalho {
    background-color: #333;
    display: flex;
    align-items: flex-end;
    padding: 10px;
    justify-content: space-around;
}

.cabeçalho-imagem {
    width: 15px;
    margin-right: 12px;
}

.navegacao {
    margin-left: auto;
}

.lista-cabecalho {
    list-style: none;
}

.item-lista {
    display: inline-block;
    margin-right: 20px;
}

.item-lista a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

main {
    padding: 20px;
}

.secao-sobre {
    text-align: center;
    background-color: aqua;
}

.secao-sobre h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.imagem-sobre {
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
}

.secao-projetos {
    text-align: center;
    margin-bottom: 40px;
}

.secao-projetos h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.projeto {
    margin-bottom: 30px;
}

.projeto img {
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;
}

.projeto h3 {
    font-size: 24px;
    margin-bottom: 5px;
}

.secao-contato {
    text-align: center;
    margin-bottom: 40px;
}

.secao-contato h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.formulario-contato {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

.formulario-contato label {
    font-weight: bold;
    margin-bottom: 5px;
}

.formulario-contato input,
.formulario-contato textarea {
    padding: 10px;
    margin-bottom: 15px;
}

.formulario-contato textarea {
    resize: vertical;
}

.formulario-contato button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.rodape {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
